<extend name="Base/common"/>
<block name="body">
    <section class="breadcrumbs-v5 bg-position-fixed breadcrumbs-v5-bg-img-v4">
    <div class="container">
        <h2 class="breadcrumbs-v5-title">I am Wanli</h2>
        <span class="breadcrumbs-v5-subtitle">I am a slow walker, but I never walk backwards...</span>
    </div>
</section>
<section class="breadcrumbs-v1">
    <div class="container">
        <h2 class="breadcrumbs-v1-title">Tag:数据共享</h2>
        <ol class="breadcrumbs-v1-links">
            <li><a href="http://www.iwanli.me">Home</a></li>
            <li class="active">数据共享</li>
        </ol>
    </div>
</section>

    <div class="bg-color-sky-light">
        <div class="content-md container">
            <div class="row">
                <div class="col-md-9 md-margin-b-30">
                    <div class="masonry-grid">
            <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/8">Laravel5中视图共享数据</a></h2>
                                        <p>每个人都会遇到这种情况：某些数据还在每个页面进行使用，比如用户信息，或者菜单数据，最基本的做法是在每个视图空控制器中传入这些数据，但显然并不是我们想要的结果。另一种方法就是使用视图数据共享，视图数据共享的基本使用很简单，可查看视图文档了解详情，这里我们演示两个使用示例：在视图间共享数据和视图Composer</p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-06-06 22:43:41
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 392
                    </span>
                </div>
            </div>
        </article>
    </div>
        </div>

                </div>
                <div class="col-md-3">
                    <include file="Public/label"/>                        
                </div>
            </div>
        </div>
    </block>
