<extend name="Base/common"/>
<block name="loadCss">
    <link href="__CSS__/monokai-sublime.css" rel="stylesheet" type="text/css"/>
</block>
<block name="header">
        <section class="breadcrumbs-v5 bg-position-fixed breadcrumbs-v5-bg-img-v4">
            <include file="Public/banner"/>
        </section>
        <section class="breadcrumbs-v1">
            <div class="container">
                <h2 class="breadcrumbs-v1-title">{$data.title|msubstr=0,8}</h2>
                <ol class="breadcrumbs-v1-links">
                    <li><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <notempty name="info">
                    <volist name="info" id="vo">
                     <li><a href="{:U('Cate/index',array('category'=>$vo['name']))}"><i class="glyphicon glyphicon-align-justify"></i>{$vo.title}</a></li>   
                    </volist> 
                    <li class="active">{$data.title|msubstr=0,4}</li>
                    </notempty>                    
                </ol>
            </div>
        </section>
    </div>    
</block>
<block name="body">
    <div class="bg-color-sky-light">
        <div class="content-md container">
            <div class="row">
                <div class="col-md-9 md-margin-b-30">
                    <article class="blog-grid margin-b-30">
                        <!-- Blog Grid Content -->
                        <div class="blog-grid-content">
                            <think:article result='article'>                                              
                            <h2 class="blog-grid-title-lg">{$article.title}</h2>
                            <notempty name="article.cover_id">
                            <img class="img-responsive margin-b-20" src="{:get_cover($article['cover_id'], $field = path)}" alt="">
                            </notempty>
                            <blockquote>
                                <p>{$article.description}</p>
                            </blockquote>
                            {$article.content}
                             </think:article>
                        </div>
                        <!-- End Blog Grid Content -->
                        <div class="divider-v1">
                            <div class="divider-v1-element">
                                <i class="divider-v1-icon glyphicon glyphicon-road"></i>
                            </div>
                        </div>
                        <!-- Blog Comment -->
                        <div class="bg-color-white margin-b-30">
                            <div class="blog-single-post-content">
                                <div class="heading-v1 text-center margin-b-50">
                                    <h2 class="heading-v1-title">Leave a comment</h2>
                                </div>
                                <div id="SOHUCS" sid="57"></div>
                                <div id="cyQing" role="cylabs" data-use="qing"></div>
                                <script charset="utf-8" type="text/javascript" src="__JS__/changyan.js" ></script>
                                <script type="text/javascript">
                                    window.changyan.api.config({
                                        appid: 'cysrvzsyE',
                                        conf: ''
                                    });
                                </script>   
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-3">
                    <div class="blog-sidebar margin-b-30">
                        <div class="blog-sidebar-content scrollbar">
                            <h3 class="portfolio-item-subitem-title">Published</h3>
                            <p class="portfolio-item-subitem-paragraph">{$data.create_time|time_format=###,'Y-m-d H:i'}</p>
                            <hr>
                            <h3 class="portfolio-item-subitem-title">Categories</h3>
                            <a class="portfolio-item-category" href="{:U('Cate/index',array('category'=>$Categories['name']))}">{$Categories.title}</a>
                            <hr>
                            <h3 class="portfolio-item-subitem-title">Tags</h3>
                            <ul class="list-unstyled tags-v2 margin-b-20">
                                <li><a href="{:U('Cate/index',array('category'=>$Categories['name']))}">{$Categories.keywords}</a></li>
                            </ul>
                            <hr>
                            <h3 class="portfolio-item-subitem-title">Share</h3>
                            <ul class="list-inline">
                                <li class="theme-icons-wrap"><a href="#"><i class="theme-icons theme-icons-base-hover theme-icons-xs radius-circle fa fa-facebook"></i></a></li>
                                <li class="theme-icons-wrap"><a href="#"><i class="theme-icons theme-icons-base-hover theme-icons-xs radius-circle fa fa-twitter"></i></a></li>
                                <li class="theme-icons-wrap"><a href="#"><i class="theme-icons theme-icons-base-hover theme-icons-xs radius-circle fa fa-pinterest-p"></i></a></li>
                                <li class="theme-icons-wrap"><a href="#"><i class="theme-icons theme-icons-base-hover theme-icons-xs radius-circle fa fa-dribbble"></i></a></li>
                                <li class="theme-icons-wrap"><a href="#"><i class="theme-icons theme-icons-base-hover theme-icons-xs radius-circle fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <include file="Public/label"/>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</div>
</block>
<block name="loadScript">
    <script type="text/javascript" src="__JS__/highlight.pack.js"></script>
    <script>
        hljs.initHighlighting();
    </script>
</block>




    












