<extend name="Base/common"/>
<block name="header">
    <div class="promo-block-v1 promo-block-v1-bg-img-v3 fullheight text-center">
    <div class="container vertical-center-aligned">
        <h1 class="promo-block-v1-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0">Welcome To iWanli's Blog</h1>
        <p class="promo-block-v1-text margin-b-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            I am a slow walker, but I never walk backwards...
        </p>
    </div>
</div>    
</block>
<block name="body">
<div class="bg-color-sky-light">
    <div class="container-sm">
        <div class="bg-color-white border-1 padding-40 margin-t-o-80">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-v1 margin-b-20 text-center">
                        <h2 class="heading-v1-title">Story About Me</h2>
                        <span class="heading-v1-subtitle">碎碎念念的话，伴随着成长</span>
                    </div>

                    <p>时间真的好快，嗖的一下就长成了今天这模样。永远不会像《挪威森林》村上写的那一句话：一直以为十八岁之后是十九岁，十九岁后是十八岁，如此反复。如今说好的十八岁离开好几年了，好宅不代表着我老，如果认真的去做的更好，只是个开始。如今过的日子并不好过的话，完全可以付出更多的努力再来活一次，找到真正想要的自己。</p>
                    <p>执着的去做，不怕舍不得睡觉、玩乐、安逸的时间去拼，要知道现在的痛苦和难受都是以前放弃了太多努力。所以现在要抓紧努力，哪怕需要你花全部精力。去拼，如果没有天分，就用时间去换，走得再慢也不要后退。希望再过几年真的被喊叔叔的年纪，那时候回头感谢一下现在选择拼搏的我。</p>
                    <p>没有天分，就用时间去换......</p>
                </div>
            </div>
        </div>
        <div class="content"></div>
    </div>
</div>

<div class="content-md container" id="pageScroll">
    <div class="heading-v3 text-center">
        <h2 class="heading-v3-title">Great Diary</h2>
        <div class="divider-v3"><div class="divider-v3-element"><i class="divider-v3-icon fa fa-skyatlas"></i></div></div>
        <p class="heading-v3-text">It's the small details that will make a big difference</p>
    </div>
</div>

    <div class="bg-color-sky-light">
        <div class="content-md container">
            <div class="row">
                <div class="col-md-9 md-margin-b-30">
                    <div class="masonry-grid">
            <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/57">Laravel上传图片到七牛</a></h2>
                                            <div class="starImg">
                            <a href="http://www.iwanli.me/article/57"><img class="img-responsive margin-b-10" src="picture/dec920cbf2a3fe7a490459e97451ba8f.png" alt="Laravel上传图片到七牛"></a>
                        </div>
                                        <p>本文主介绍上传图片到七牛，并获取七牛的图片路径。主要细讲七牛的配置问题，发现很多小伙伴都对七牛的配置不是很熟悉~</p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/1"><i class="fa fa-leaf"></i> 前端</a>
                         -  <i class="fa fa-clock-o"></i> 2016-11-08 13:00:39
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 189
                    </span>
                </div>
            </div>
        </article>
    </div>
        <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/56">iDashboard-基于Laravel5.3的后台管理</a></h2>
                                            <div class="starImg">
                            <a href="http://www.iwanli.me/article/56"><img class="img-responsive margin-b-10" src="picture/451a50846d6e9cfb62ab31775f9040e2.png" alt="iDashboard-基于Laravel5.3的后台管理"></a>
                        </div>
                                        <p>经过几天的奋斗，Laravel5.3的后台管理基本框架已经完成，代码大量优化，设计模式更改。博客改版计划也要开始了~</p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-11-07 12:28:32
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 505
                    </span>
                </div>
            </div>
        </article>
    </div>
        <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/55">27-Laravel实战之权限控制</a></h2>
                                        <p><embed height="600" width="100%" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="flash/miniloader.swf" flashvars="aid=6947770&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
本节介绍逻辑层的权限控制，前端页面虽然判断权限，但别人拿到路由一样可以进行操作。这样很不安全，所以我们要在逻辑层再加上一层判断~</p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-11-02 07:21:20
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 189
                    </span>
                </div>
            </div>
        </article>
    </div>
        <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/54">26-Laravel实战之databases权限列表</a></h2>
                                        <p><embed height="600" width="100%" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="flash/miniloader.swf" flashvars="aid=6924206&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed></p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-11-01 07:29:59
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 124
                    </span>
                </div>
            </div>
        </article>
    </div>
        <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/53">25-Laravel实战之添加权限功能</a></h2>
                                        <p><embed height="600" width="100%" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="flash/miniloader.swf" flashvars="aid=6758232&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
<p>之前作死，公司项目一直加班，每周都是凌晨，没有时间给大家更新~现在慢慢补回来，一个月没有讲，有点生疏，望大家见谅</p></p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-10-21 12:32:38
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 165
                    </span>
                </div>
            </div>
        </article>
    </div>
        <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/52">24-Laravel实战之权限管理及datatables简介</a></h2>
                                        <p><embed height="600" width="100%" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="flash/miniloader.swf" flashvars="aid=6250333&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
<p>耽搁了这么长时间，进度跟上来~</p></p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-09-12 13:54:33
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 524
                    </span>
                </div>
            </div>
        </article>
    </div>
        </div>
<div class="paginations-v2 text-center"><ul class="paginations-v2-list"><li class="previous  disabled"><span aria-label="previous"><span aria-hidden="true">Prev</span></span></li> <li class="active"><span>1</span></li><li><a href="http://www.iwanli.me?page=2#pageScroll">2</a></li><li><a href="http://www.iwanli.me?page=3#pageScroll">3</a></li><li><a href="http://www.iwanli.me?page=4#pageScroll">4</a></li><li><a href="http://www.iwanli.me?page=5#pageScroll">5</a></li><li><a href="http://www.iwanli.me?page=6#pageScroll">6</a></li><li><a href="http://www.iwanli.me?page=7#pageScroll">7</a></li><li><a href="http://www.iwanli.me?page=8#pageScroll">8</a></li><li><a href="http://www.iwanli.me?page=9#pageScroll">9</a></li><li><a href="http://www.iwanli.me?page=10#pageScroll">10</a></li> <li class="next"><a href="http://www.iwanli.me?page=2#pageScroll" aria-label="Next"><span aria-hidden="true">Next</span></a></li></ul></div>
                </div>
            <!-- 页面右边标签栏 -->
            <include file="Public/label"/>
            </div>
        </div>
</block>
<block name="footer">
    </div>
</block>