            <!-- 正文 -->
            <article:list name="list" category="$category['id']" child="true">
            <div class="masonry-grid-item col-1">
                <article class="blog-grid">
                    <div class="blog-grid-box-shadow">
                        <div class="blog-grid-content">
                            <h2 class="blog-grid-title-md">
                                <a href="{:U('Article/detail?id='.$list['id'])}">{$list.title}</a>
                            </h2>
                            <div class="starImg">
                                <a href="{:U('Article/detail?id='.$list['id'])}">
                                    <img class="img-responsive margin-b-10" src="picture/dec920cbf2a3fe7a490459e97451ba8f.png" alt="Laravel上传图片到七牛">
                                </a>
                            </div>
                            <p>{$list.description}</p>
                        </div>
                        <div class="blog-grid-supplemental">
                            <span class="blog-grid-supplemental-title">
                                <a class="blog-grid-supplemental-category" href="{:U('Article/lists?category='.get_category_name($list['category_id']))}"><i class="glyphicon glyphicon-leaf"></i> {$list.category_id|get_category_title}</a>
                                 -  <i class="glyphicon glyphicon-time"></i> {$list.create_time|date='Y-m-d H:i',###}
                            </span>
                            <span class="blog-grid-supplemental-title pull-right">
                                <i class="glyphicon glyphicon-eye-open"></i> {$list.view}
                            </span>
                        </div>
                    </div>
                </article>
            </div>
            </article:list>