<!-- 导航条及共用头部
================================================== -->
<div class="wrapper animsition">
    <header class="header-transparent navbar-fixed-top header-sticky">
        <nav class="navbar mega-menu" role="navigation">
            <div class="container">
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="toggle-icon"></span>
                    </button>
                    <div class="navbar-actions">
                        <div class="navbar-actions-shrink search-fullscreen search-fullscreen-trigger-white">
                            <div class="search-fullscreen-trigger">
                                <i class="search-fullscreen-trigger-icon fa fa-search"></i>
                            </div>
                            <div class="search-fullscreen-overlay">
                                <div class="search-fullscreen-overlay-content">
                                    <div class="search-fullscreen-input-group">
                                        <input type="text" class="form-control search-fullscreen-input" placeholder="Search for ...">
                                        <button class="search-fullscreen-search" type="button"><i class="search-fullscreen-search-icon fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="search-fullscreen-bg-overlay">
                                <div class="search-fullscreen-close">&times;</div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-logo">
                        <a class="navbar-logo-wrap" href="http://www.iwanli.me">
                            <img class="navbar-logo-img navbar-logo-img-white" src="picture/logo-default-white.png" alt="Ark">
                            <img class="navbar-logo-img navbar-logo-img-dark" src="picture/logo-default.png" alt="Ark">
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse nav-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-item-child radius-3" href="http://www.iwanli.me">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-item-child dropdown-toggle radius-3" href="javascript:void(0)" onclick="return false" data-toggle="dropdown">
                                    前端
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-item"><a class="dropdown-menu-item-child" href="http://www.iwanli.me/cate/7"> Chrome扩展</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-item-child dropdown-toggle radius-3" href="javascript:void(0)" onclick="return false" data-toggle="dropdown">
                                    PHP
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-item"><a class="dropdown-menu-item-child" href="http://www.iwanli.me/cate/4">Laravel</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-item-child radius-3" href="http://www.iwanli.me/cate/3">
                                    移动端
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-item-child dropdown-toggle radius-3" href="javascript:void(0)" onclick="return false" data-toggle="dropdown">
                                    数据库
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-item"><a class="dropdown-menu-item-child" href="http://www.iwanli.me/cate/6">Redis</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-item-child radius-3" href="http://www.iwanli.me/cate/9">
                                    随笔
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-item-child radius-3" href="http://www.iwanli.me/article/25">
                                    Laravel 视频教程
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="promo-block-v1 promo-block-v1-bg-img-v3 fullheight text-center">
    <div class="container vertical-center-aligned">
        <h1 class="promo-block-v1-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0">Welcome To iWanli's Blog</h1>
        <p class="promo-block-v1-text margin-b-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            I am a slow walker, but I never walk backwards...
        </p>
    </div>
</div>
