<!-- 页面右边标签栏 -->
    <div class="blog-sidebar margin-b-30">
        <div class="blog-sidebar-heading">
            <i class="glyphicon glyphicon-fire"></i>
            <h4 class="blog-sidebar-heading-title">热门文章</h4>
        </div>
        <div class="blog-sidebar-content scrollbar">
            <ul class="timeline-v2">
                <li class="timeline-v2-list-item">
                    <i class="timeline-v2-badge-icon radius-circle glyphicon glyphicon-calendar"></i>
                    <small class="timeline-v2-news-date">2016-07-14 11:52:08</small>
                    <h5 class="timeline-v2-news-title"><a href="http://www.iwanli.me/article/25">Laravel视频教程专题【2016/11/4 第27节】</a></h5>
                </li>
                <li class="timeline-v2-list-item">
                    <i class="timeline-v2-badge-icon radius-circle glyphicon glyphicon-calendar"></i>
                    <small class="timeline-v2-news-date">2016-09-07 14:02:48</small>
                    <h5 class="timeline-v2-news-title"><a href="http://www.iwanli.me/article/51">Laravel5.3多用户表登录</a></h5>
                </li>
                <li class="timeline-v2-list-item">
                    <i class="timeline-v2-badge-icon radius-circle glyphicon glyphicon-calendar"></i>
                    <small class="timeline-v2-news-date">2016-05-23 09:14:57</small>
                    <h5 class="timeline-v2-news-title"><a href="http://www.iwanli.me/article/1">laravel5分页Pagination及扩展</a></h5>
                </li>
                <li class="timeline-v2-list-item">
                    <i class="timeline-v2-badge-icon radius-circle glyphicon glyphicon-calendar"></i>
                    <small class="timeline-v2-news-date">2016-08-16 12:48:43</small>
                    <h5 class="timeline-v2-news-title"><a href="http://www.iwanli.me/article/42">Laravel5.2中多用户表登录</a></h5>
                </li>
                <li class="timeline-v2-list-item">
                    <i class="timeline-v2-badge-icon radius-circle glyphicon glyphicon-calendar"></i>
                    <small class="timeline-v2-news-date">2016-05-26 05:23:30</small>
                    <h5 class="timeline-v2-news-title"><a href="http://www.iwanli.me/article/3">Laravel5使用Captcha扩展包生成验证码</a></h5>
                </li>
                <li class="timeline-v2-list-item">
                    <i class="timeline-v2-badge-icon radius-circle glyphicon glyphicon-calendar"></i>
                    <small class="timeline-v2-news-date">2016-05-25 05:34:44</small>
                    <h5 class="timeline-v2-news-title"><a href="http://www.iwanli.me/article/2">Laravel5 自定义登录字段</a></h5>
                </li>               
            </ul>
        </div>
    </div>
    <div class="blog-sidebar margin-b-30">
        <div class="blog-sidebar-heading">
            <i class="blog-sidebar-heading-icon glyphicon glyphicon-paperclip"></i>
            <h4 class="blog-sidebar-heading-title">标签</h4>
        </div>
        <div class="blog-sidebar-content">
            <ul class="list-inline blog-sidebar-tags">
                <li><a class="radius-50" href="http://www.iwanli.me/tag/1">Laravel</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/2">分页</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/3">自定义</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/4">PHP</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/5">登录</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/6">验证码</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/7">安装</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/8">Redis</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/9">字符串</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/10">笔记</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/11">列表</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/12">集合</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/13">哈希</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/14">散列</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/15">视图</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/16">数据共享</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/17">时间</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/18">有序集合</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/19">异常</a></li>
                <li><a class="radius-50" href="http://www.iwanli.me/tag/20">复制</a></li>
            </ul>
        </div>
    </div>
    <div class="blog-sidebar">
        <div class="blog-sidebar-heading">
            <i class="blog-sidebar-heading-icon glyphicon glyphicon-paperclip"></i>
            <h4 class="blog-sidebar-heading-title">友情链接</h4>
        </div>
        <div class="blog-sidebar-content">
            <ul class="list-unstyled lists-base">
                <li><i class="lists-item-element fa fa-angle-right"></i> <a target="_black" href="https://phphub.org/">PHPHub(推荐)</a></li>
                <li><i class="lists-item-element fa fa-angle-right"></i> <a target="_black" href="http://laravelacademy.org/">Laravel学院(推荐)</a></li>
                <li><i class="lists-item-element fa fa-angle-right"></i> <a target="_black" href="http://aabvip.com/">明日复明日</a></li>
            </ul>
        </div>
    </div>
