<!-- 页面右边标签栏 -->
    <div class="blog-sidebar margin-b-30">
        <div class="blog-sidebar-heading">
            <i class="glyphicon glyphicon-fire"></i>
            <h4 class="blog-sidebar-heading-title">热门文章</h4>
        </div>
        <div class="blog-sidebar-content scrollbar">
            <ul class="timeline-v2">
                <article:position name="pos" pos="4" limit="2" cate="null" >
                <li class="timeline-v2-list-item">
                    <i class="timeline-v2-badge-icon radius-circle glyphicon glyphicon-calendar"></i>
                    <small class="timeline-v2-news-date">{$pos.create_time|date='Y-m-d H:i',###}</small>
                    <h5 class="timeline-v2-news-title"><a href="{:U('Article/index?id='.$pos['id'])}">{$pos.title}</a></h5>
                </li> 
                </article:position>      
            </ul>
        </div>
    </div>
    <div class="blog-sidebar margin-b-30">
        <div class="blog-sidebar-heading">
            <i class="blog-sidebar-heading-icon glyphicon glyphicon-paperclip"></i>
            <h4 class="blog-sidebar-heading-title">标签</h4>
        </div>
        <div class="blog-sidebar-content">
            <ul class="list-inline blog-sidebar-tags">
                <think:cate pid="0" limit="10">
                <li><a class="radius-50" href="{:U('Tag/index')}">{$cate.keywords}</a></li>    
                </think:cate>
            </ul>
        </div>
    </div>
    <div class="blog-sidebar">
        <div class="blog-sidebar-heading">
            <i class="blog-sidebar-heading-icon glyphicon glyphicon-paperclip"></i>
            <h4 class="blog-sidebar-heading-title">友情链接</h4>
        </div>
        <div class="blog-sidebar-content">
            <ul class="list-unstyled lists-base">
                <volist name=":C('FRIENDSHIP_LINK')" id="vo">
                <li>   
                    <i class="lists-item-element glyphicon glyphicon-chevron-right btn-xs btn-default"></i>
                    <a target="_black" href="{$key|http_url}">{$vo}</a>
                </li>
                </volist>
            </ul>
        </div>
    </div>
