                    <!-- 分页 -->
                    <div class="paginations-v2 text-center">
                        <ul class="paginations-v2-list">
                             <article:page cate="$category['id']" listrow="$category['list_row']" />
                            <!-- <li class="previous  disabled"><span aria-label="previous"><span aria-hidden="true">Prev</span></span></li> 
                            <li class="active"><span>1</span></li>
                            <li><a href="http://www.iwanli.me/cate/4?page=2">2</a></li>
                            <li><a href="http://www.iwanli.me/cate/4?page=3">3</a></li>
                            <li><a href="http://www.iwanli.me/cate/4?page=4">4</a></li>
                            <li><a href="http://www.iwanli.me/cate/4?page=5">5</a></li>
                            <li><a href="http://www.iwanli.me/cate/4?page=6">6</a></li>
                            <li><a href="http://www.iwanli.me/cate/4?page=7">7</a></li>
                            <li><a href="http://www.iwanli.me/cate/4?page=8">8</a></li> 
                            <li class="next"><a href="http://www.iwanli.me/cate/4?page=2" aria-label="Next"><span aria-hidden="true">Next</span></a></li> -->
                        </ul>
                    </div>