<extend name="Base/common"/>
<block name="body">
    <section class="breadcrumbs-v5 bg-position-fixed breadcrumbs-v5-bg-img-v4">
        <include file="Public/banner"/>
    </section>
    <include file="Public/crumbs"/>   
    <div class="bg-color-sky-light">
        <div class="content-md container">
            <div class="row">
                <div class="col-md-9 md-margin-b-30">
                    <div class="masonry-grid">
                        <include file="Public/article"/>   
                    </div>
                    <include file="Public/page"/> 
                </div>
                <div class="col-md-3">
                    <include file="Public/label"/>                          
                </div>
            </div>
        </div>
</block>
