<extend name="Base/common"/>
<block name="body">
    
    <section class="breadcrumbs-v5 bg-position-fixed breadcrumbs-v5-bg-img-v4">
    <div class="container">
        <h2 class="breadcrumbs-v5-title">I am Wanli</h2>
        <span class="breadcrumbs-v5-subtitle">I am a slow walker, but I never walk backwards...</span>
    </div>
</section>
<section class="breadcrumbs-v1">
    <div class="container">
        <h2 class="breadcrumbs-v1-title">Laravel</h2>
        <ol class="breadcrumbs-v1-links">
            <li><a href="http://www.iwanli.me">Home</a></li>
            <li class="active">Laravel</li>
        </ol>
    </div>
</section>

    <div class="bg-color-sky-light">
        <div class="content-md container">
            <div class="row">
                <div class="col-md-9 md-margin-b-30">
                    <div class="masonry-grid">
            <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/56">iDashboard-基于Laravel5.3的后台管理</a></h2>
                                            <div class="starImg">
                            <a href="http://www.iwanli.me/article/56"><img class="img-responsive margin-b-10" src="picture/451a50846d6e9cfb62ab31775f9040e2.png" alt="iDashboard-基于Laravel5.3的后台管理"></a>
                        </div>
                                        <p>经过几天的奋斗，Laravel5.3的后台管理基本框架已经完成，代码大量优化，设计模式更改。博客改版计划也要开始了~</p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-11-07 12:28:32
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 505
                    </span>
                </div>
            </div>
        </article>
    </div>
        <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/55">27-Laravel实战之权限控制</a></h2>
                                        <p><embed height="600" width="100%" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="flash/miniloader.swf" flashvars="aid=6947770&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
本节介绍逻辑层的权限控制，前端页面虽然判断权限，但别人拿到路由一样可以进行操作。这样很不安全，所以我们要在逻辑层再加上一层判断~</p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-11-02 07:21:20
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 189
                    </span>
                </div>
            </div>
        </article>
    </div>
        <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/54">26-Laravel实战之databases权限列表</a></h2>
                                        <p><embed height="600" width="100%" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="flash/miniloader.swf" flashvars="aid=6924206&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed></p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-11-01 07:29:59
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 124
                    </span>
                </div>
            </div>
        </article>
    </div>
        <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/53">25-Laravel实战之添加权限功能</a></h2>
                                        <p><embed height="600" width="100%" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="flash/miniloader.swf" flashvars="aid=6758232&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
<p>之前作死，公司项目一直加班，每周都是凌晨，没有时间给大家更新~现在慢慢补回来，一个月没有讲，有点生疏，望大家见谅</p></p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-10-21 12:32:38
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 165
                    </span>
                </div>
            </div>
        </article>
    </div>
        <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/52">24-Laravel实战之权限管理及datatables简介</a></h2>
                                        <p><embed height="600" width="100%" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="flash/miniloader.swf" flashvars="aid=6250333&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
<p>耽搁了这么长时间，进度跟上来~</p></p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-09-12 13:54:33
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 524
                    </span>
                </div>
            </div>
        </article>
    </div>
        <div class="masonry-grid-item col-1">
        <article class="blog-grid">
            <div class="blog-grid-box-shadow">
                <div class="blog-grid-content">
                    <h2 class="blog-grid-title-md"><a href="http://www.iwanli.me/article/51">Laravel5.3多用户表登录</a></h2>
                                            <div class="starImg">
                            <a href="http://www.iwanli.me/article/51"><img class="img-responsive margin-b-10" src="picture/451a50846d6e9cfb62ab31775f9040e2.png" alt="Laravel5.3多用户表登录"></a>
                        </div>
                                        <p>Laravel5.3多用户表登录干货来啦~最近有点忙，更新不及时。。</p>
                </div>
                <div class="blog-grid-supplemental">
                    <span class="blog-grid-supplemental-title">
                        <a class="blog-grid-supplemental-category" href="http://www.iwanli.me/cate/4"><i class="fa fa-leaf"></i> Laravel</a>
                         -  <i class="fa fa-clock-o"></i> 2016-09-07 14:02:48
                    </span>
                    <span class="blog-grid-supplemental-title pull-right">
                        <i class="fa fa-eye"></i> 1688
                    </span>
                </div>
            </div>
        </article>
    </div>
        </div>
<div class="paginations-v2 text-center"><ul class="paginations-v2-list"><li class="previous  disabled"><span aria-label="previous"><span aria-hidden="true">Prev</span></span></li> <li class="active"><span>1</span></li><li><a href="http://www.iwanli.me/cate/4?page=2">2</a></li><li><a href="http://www.iwanli.me/cate/4?page=3">3</a></li><li><a href="http://www.iwanli.me/cate/4?page=4">4</a></li><li><a href="http://www.iwanli.me/cate/4?page=5">5</a></li><li><a href="http://www.iwanli.me/cate/4?page=6">6</a></li><li><a href="http://www.iwanli.me/cate/4?page=7">7</a></li><li><a href="http://www.iwanli.me/cate/4?page=8">8</a></li> <li class="next"><a href="http://www.iwanli.me/cate/4?page=2" aria-label="Next"><span aria-hidden="true">Next</span></a></li></ul></div>
                </div>
                <div class="col-md-3">
                    <include file="Public/label"/>                          
                </div>
            </div>
        </div>
    </block>